@media (min-width: 600px) and (max-width: 756px) {
  /* Reduce Divider Width */
  #timeline > .container::before {
    width: 4px;
  }

  /* Reduce spaces of Flex Items */
  #timeline > .container > *:nth-child(even) {
    padding-left: 1rem;
  }
  #timeline > .container > *:nth-child(odd) {
    padding-right: 1rem;
  }
}

@media (max-width: 599px) {
  /* Reduce Heading Size */
  #main-header {
    padding: 2.5rem;
  }
  #main-header h1 {
    font-size: 2rem;
  }

  /* Remove the Dividing Style */
  #timeline > .container::before {
    left: 20px;
  }

  #timeline > .container > *:nth-child(even),
  #timeline > .container > *:nth-child(odd) {
    width: 100%;
    align-self: baseline;
    padding: 0 20px 0 3.3rem;
  }

  #timeline > .container > *:nth-child(even)::after,
  #timeline > .container > *:nth-child(odd)::after {
    left: 10px;
  }

  #timeline > .container > *:nth-child(even) > div::after {
    border-width: 8px 16px 8px 0;
    left: -16px;
    right: auto;
  }

  /* JS */
  .hidden > div {
    transform: translateX(100%);
  }
}

@media (max-width: 433px) {
  #main-header {
    padding: 2rem 1rem;
  }
  #main-header h1 {
    font-size: 1.8rem;
    line-height: 1.3;
    margin-bottom: 1.1rem;
    display: flex;
    flex-direction: column;
  }
}
