/* CSS Variables */
:root {
  --main-color: #ca6088;
  --selection-color: #ffb8d2;
  --dark-color: #222;
  --white-color: #fafafa;
  --bullet-tr-time: 0.1s;
  --divs-tr-time: 0.5s;
  --max-width: 1100px;
}

/* HTML Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font: normal 1rem/1.5 "Arial", sans-serif;
  background: #333;
  color: #222;
  overflow-x: hidden;
  text-align: left;
}
body ::selection {
  background: var(--selection-color);
}

footer {
  padding: 0.75rem;
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  border-top: 1px solid var(--white-color);
  text-shadow: 1px 3px 3px var(--dark-color);
}

h1 {
  font-size: 2.3rem;
}

h1,
h3 {
  color: var(--main-color);
  margin: 0.2rem 0;
}

ul {
  list-style: none;
}
ul > li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  position: relative;
  top: -0.12rem;
  margin-right: 0.5rem;

  border: solid var(--dark-color) 1px;
  border-radius: 50%;
}

/* Utilities */
.container {
  max-width: var(--max-width);
  margin: auto;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Header */
#main-header {
  text-shadow: 1px 3px 3px var(--dark-color);
  text-align: center;
  padding: 3rem;
  border-bottom: solid 5px var(--dark-color);
  outline: solid 1px var(--white-color);
}

#main-header h3 {
  letter-spacing: 2px;
}
/* Trainings */
#timeline h3 {
  color: var(--dark-color);
}
#timeline h3 > span {
  color: var(--main-color);
}
#timeline > ul {
  list-style: none;
}
#timeline > .container {
  /* Flex container */
  display: flex;
  flex-flow: column wrap;
  position: relative;
}

#timeline > .container::before {
  /* Middle Line Divider */
  content: "";
  display: block;
  width: 5px;
  height: 100%;
  background: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#timeline > .container > * {
  /* Flex Item Styling */
  width: 50%;
  padding: 0 2rem;
  margin: 1rem 0;
  flex: 0 0 auto;
  position: relative;
  overflow: visible;
}
#timeline > .container > *::after {
  /* Disk Styling */
  content: "";
  display: block;
  background: var(--white-color);
  box-shadow: 2px 2px 4px var(--dark-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: -10px;
  transition: all var(--bullet-tr-time) ease-in var(--divs-tr-time);
}

#timeline > .container > *:nth-child(odd) {
  align-self: flex-end;
}
#timeline > .container > *:nth-child(odd)::after {
  /* Disk Styling */
  left: -10px;
}

#timeline > .container > * > div {
  background: var(--white-color);
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 5px 5px 10px var(--dark-color);
  position: relative;
  transition: all var(--divs-tr-time) ease-out;
}
#timeline > .container > * > div::after {
  /* Pointer Styling */
  content: "";
  display: block;
  border-style: solid;
  border-width: 8px 0 8px 16px;
  border-color: transparent var(--white-color);
  position: absolute;
  bottom: 7px;
  right: -16px;
}
#timeline > .container > *:nth-child(odd) > div::after {
  border-width: 8px 16px 8px 0;
  left: -16px;
  right: auto;
}

#timeline > .container > * > div p {
  text-indent: 1rem;
}

/* JS Utilities */
.hidden {
  opacity: 0;
}
.hidden::after {
  transform: scale(0);
}
.hidden > div {
  transform: translateX(-100%);
}
.hidden:nth-child(odd) > div {
  transform: translateX(100%);
}

.visible {
  opacity: 1;
}
.visible::after {
  transform: scale(1);
}
.visible > div {
  transform: translateX(0);
}
